.welcome-header {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 5%;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-size: 50px;
  font-weight: semibold;
}

.welcome-header__text {
  width: 70%;
  margin-bottom: 15%;
  font-style: italic;
  font-size: 14px;
  line-height: 1.5;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

.login-form__input,
.login-form__btn {
  border: none;
  padding: 4% 2%;
  font-size: 18px;
  margin-bottom: 3%;
}

.login-form .login-form__btn:nth-child(3) {
  margin-top: 3%;
}

.login-form__btn {
  background-color: var(--darkpurple);
  cursor: pointer;
  border-radius: 5px;
  color: var(--antiquewhite);
}

.login-form__input {
  transition: background-color 0.5s ease-in-out;
}

.login-form__input:focus {
  background-color: var(--graypurple);
}

.login-form__input::placeholder {
  opacity: 0.5;
}

.login-form a {
  text-align: center;
  font-size: 14px;
}
